<h1><strong>Assignment Topic:</h1>
<h5>I was provided with an empty Jupyterlite notebook which I will launch in the course, to complete this assignment. I need to include a combination of markdown and code cells.</h5>
<h5>There are a total of 25 points possible for this final project.</h5>
<h5>Your grade will be based on the following Exercises:</h5>
<ol>
    <li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>
    <li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>
    <li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>
    <li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>
    <li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>
    <li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>
    <li>Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)</li>
    <li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>
    <li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>
    <li>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)</li>
    <li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>
    <li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li>
</ol>

<h5>Exercise 1: Create a Jupyter Notebook</h5>

<h3><strong>Name: DataScienceEcosystem.ipynb</strong> </h3>

<h5>Exercise 2: Create markdown cell with title of the notebook</h5>

<h1>Data Science Tools and Ecosystem</h1>

<h5>Exercise 3 - Create a markdown cell for an introduction</h5>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h5>Exercise 10 - Insert a markdown cell to list Objectives</h5>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<h5>Exercise 4 - Create a markdown cell to list data science languages</h5>

Some of the popular languages that Data Scientists use are:

<ol><li>Python</li><li>R</li><li>SQL</li><li>Javascript</li><li>Scala</li></ol>

<h5>Exercise 5 - Create a markdown cell to list data science libraries</h5>

Some of the commonly used libraries used by Data Scientists include:

<ol><li>NumPy</li><li>Pandas</li><li>SciPy</li><li>TensorFlow</li><li>Matplotlib</li></ol>

<h5>Exercise 6 - Create a markdown cell with a table of Data Science tools</h5>

<table style="float:left">
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
</table>

<h5>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</h5>

### Below are a few examples of evaluating arithmetic expressions in Python

<h5>Exercise 8 - Create a code cell to multiply and add numbers</h5>

In [31]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

<h5>Exercise 9 - Create a code cell to convert minutes to hours</h5>

In [32]:
#This will convert 200 minutes to hours by diving by 60

hours = 0
mins = 0

time = 200
hours = 200 // 60
mins = 200 % 60
print(str(hours) + " hours, " + str(mins) +  " mins. ")

3 hours, 20 mins.

<h5>Exercise 11 - Create a markdown cell to indicate the Author's name</h5>

<h2>Author:</h2> Hoang Ngoc Huy